.container {

    background-color: #FF0E0E;
    height: 100px;

}

.logo {
  
    height: 130px ;
    width: 180px;
    position: relative;
    left: 550px;
    top: 8px ;
}

.searchButton {
display: flex;
justify-content: start;
align-items: flex-start;
height: 35px;
width:30px ;
}

.search {
display: flex;
justify-content: space-around;
background-color: blueviolet;
width: 350px;
align-items: center ;
}

