header {
    background-color: #FF1212;
}

.element1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.element2 {
    text-align: center;
    justify-content: center;
    flex-direction: center;
}

.centeredPrompt__item+.centeredPrompt_item {
    margin-top: 5px;
}

.centeredPromptIcon {
    font-size: 30px;
    line-height: 0;
    font-weight: bold;
}

.centeredPromptLabel {
    color: #000000;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.centeredPromptDetails {
    color: #000000;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: center;
}

.pokeball {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.pokeType {
    background-color: #FF1212;
    font-family: 'Baloo 2', cursive;
    -webkit-text-stroke: 1.5px #52505F;
    color: transparent;
    font-size: 40px;
    text-align: center;
}

.boton_personalizado {
    font-family: 'Baloo 2', cursive;
    color: #52505F;
    font-size: 12px;
    text-align: center;
    border: #5F48FF;
    border-style: groove;
    cursor: pointer;
    height: 60px;
    width: 200%;
}

.boton_personalizado:hover {
    background-color: #FFCC01;
}

.element3 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    justify-content: center;
    flex-direction: center;
}

#container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    border: #FF1333;
    font-family: 'Baloo 2', cursive;
}